In [1]:
import sqlite3
import pandas as pd
from tabulate import tabulate

DB_PATH = "/app/data/teste___desafio_técnico_-_analista_de_dados_pleno_anexo_db.db"
SQL_SCRIPT_PATH = "/app/scripts/canditados_pre_selecionados.sql"
OUTPUT_CSV = "/app/output/candidatos_pre_selecionados.csv"

In [2]:
def listar_tabelas():
    """Lista todas as tabelas do banco SQLite."""
    conn = sqlite3.connect(DB_PATH)
    cursor = conn.cursor()
    
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tabelas = cursor.fetchall()
    
    conn.close()
    
    return [t[0] for t in tabelas]

def visualizar_tabela(nome_tabela, limite=5):
    """Mostra algumas linhas da tabela escolhida."""
    conn = sqlite3.connect(DB_PATH)
    
    query = f"SELECT * FROM {nome_tabela} LIMIT {limite};"
    df = pd.read_sql_query(query, conn)
    
    conn.close()
    
    return df


tabelas = listar_tabelas()
print(f"Tabelas encontradas: {tabelas}")

# Mostrar 5 registros de cada tabela
for tabela in tabelas:
    print(f"\nAmostra da tabela: {tabela}")
    print(tabulate(visualizar_tabela(tabela, limite=5), headers= "keys", tablefmt="grid"))

Tabelas encontradas: ['competencias', 'vagas', 'candidatos', 'vagacompetencia', 'candidato_vaga', 'experiencias', 'competencia_experiencia']

Amostra da tabela: competencias
+----+------+---------------+--------------+---------------------------------------------------+------------+
|    |   id | nome          | tipo         | descricao                                         | area       |
+====+======+===============+==============+===================================================+============+
|  0 |    1 | competencia 1 | Conhecimento | Conhecimento importante para a área Financeira    | Financeira |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  1 |    2 | competencia 2 | Atitude      | Atitude importante para a área Comercial          | Comercial  |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  2 |    3 | competencia 3 | Atitude      | Atitude importante para a área de Engenharia      | Engenharia |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  3 |    4 | competencia 4 | Conhecimento | Conhecimento importante para a área de Engenharia | Engenharia |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  4 |    5 | competencia 5 | Conhecimento | Conhecimento importante para a área de Engenharia | Engenharia |
+----+------+---------------+--------------+---------------------------------------------------+------------+

Amostra da tabela: vagas
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|    |   id | nome   | nivel_vaga   |   salario_minimo |   salario_maximo | departamento   | localizacao        | responsavel    |   minimo_experiencia |
+====+======+========+==============+==================+==================+================+====================+================+======================+
|  0 |    1 | vaga 1 | Pleno        |             3507 |             4957 | Contabilidade  | São Paulo - SP     | Responsável 1  |                    3 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  1 |    2 | vaga 2 | Júnior       |             1658 |             2606 | Financeira     | São Paulo - SP     | Responsável 10 |                    1 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  2 |    3 | vaga 3 | Pleno        |             3262 |             3982 | Engenharia     | Florianópolis - SC | Responsável 5  |                    5 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  3 |    4 | vaga 4 | Sênior       |             6651 |             8148 | RH             | São Paulo - SP     | Responsável 3  |                    6 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  4 |    5 | vaga 5 | Pleno        |             3347 |             4658 | RH             | São Paulo - SP     | Responsável 3  |                    5 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+

Amostra da tabela: candidatos
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|    |   id | nome                | sexo   | cpf            | data_de_nascimento   | endereco                      |
+====+======+=====================+========+================+======================+===============================+
|  0 |    1 | Lorena Pereira      | F      | 187.250.693-30 | 1971-01-16           | Lagoa Isabela Lopes, 43       |
|    |      |                     |        |                |                      | Vila Pilar                    |
|    |      |                     |        |                |                      | 40800-051 Pinto / MG          |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  1 |    2 | Dr. Lorenzo Rocha   | M      | 210.865.943-98 | 1977-06-09           | Feira Casa Grande, 61         |
|    |      |                     |        |                |                      | Vila Nossa Senhora Do Rosário |
|    |      |                     |        |                |                      | 88318-085 da Rosa / MT        |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  2 |    3 | Brayan Pastor       | M      | 796.102.385-21 | 1974-09-14           | Setor Vieira, 76              |
|    |      |                     |        |                |                      | Delta                         |
|    |      |                     |        |                |                      | 98443-687 Leão / RJ           |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  3 |    4 | Lucas Gabriel Nunes | M      | 372.861.940-03 | 1986-01-01           | Travessa Luiz Otávio Pires, 4 |
|    |      |                     |        |                |                      | Mineirão                      |
|    |      |                     |        |                |                      | 61132-149 Camargo / RO        |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  4 |    5 | Joaquim Melo        | M      | 089.574.163-66 | 1999-12-03           | Colônia Azevedo, 7            |
|    |      |                     |        |                |                      | Cônego Pinheiro 1ª Seção      |
|    |      |                     |        |                |                      | 66220-210 Mendes / RJ         |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+

Amostra da tabela: vagacompetencia
+----+-----------+------------------+---------------------+------------------------+
|    |   id_vaga |   id_competencia | nivel_competencia   | tempo_de_experiencia   |
+====+===========+==================+=====================+========================+
|  0 |         1 |               38 | Intermediário       | 36 meses               |
+----+-----------+------------------+---------------------+------------------------+
|  1 |         1 |               48 | Básico              | 18 meses               |
+----+-----------+------------------+---------------------+------------------------+
|  2 |         1 |               51 | Básico              | 18 meses               |
+----+-----------+------------------+---------------------+------------------------+
|  3 |         1 |               59 | Intermediário       | 36 meses               |
+----+-----------+------------------+---------------------+------------------------+
|  4 |         1 |               63 | Intermediário       | 36 meses               |
+----+-----------+------------------+---------------------+------------------------+

Amostra da tabela: candidato_vaga
+----+-----------+----------------+----------------------+----------------+
|    |   id_vaga |   id_candidato |   pretensao_salarial | recomendacao   |
+====+===========+================+======================+================+
|  0 |         3 |            358 |              2825.16 | False          |
+----+-----------+----------------+----------------------+----------------+
|  1 |         3 |            547 |              3114.92 | False          |
+----+-----------+----------------+----------------------+----------------+
|  2 |         3 |            620 |              4962.14 | False          |
+----+-----------+----------------+----------------------+----------------+
|  3 |         3 |            693 |              3006.26 | False          |
+----+-----------+----------------+----------------------+----------------+
|  4 |         3 |            821 |              4599.94 | True           |
+----+-----------+----------------+----------------------+----------------+

Amostra da tabela: experiencias
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|    |   id |   id_candidato | empresa             | descricao                             | dt_inicio   | dt_termino   |
+====+======+================+=====================+=======================================+=============+==============+
|  0 |    1 |              1 | Jesus Peixoto Ltda. | Emprego 1 do candidato Lorena Pereira | 1990-03-16  | 1991-06-10   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  1 |    2 |              1 | Silva               | Emprego 2 do candidato Lorena Pereira | 1991-06-10  | 1994-02-11   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  2 |    3 |              1 | da Costa            | Emprego 3 do candidato Lorena Pereira | 1994-02-11  | 1997-06-23   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  3 |    4 |              1 | Nascimento          | Emprego 4 do candidato Lorena Pereira | 1997-06-23  | 1998-09-17   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  4 |    6 |              1 | Cirino S/A          | Emprego 6 do candidato Lorena Pereira | 2000-12-22  | 2002-07-21   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+

Amostra da tabela: competencia_experiencia
+----+------------------+------------------+---------------------+---------------------+
|    |   id_competencia |   id_experiencia |   tempo_competencia | nivel_competencia   |
+====+==================+==================+=====================+=====================+
|  0 |               95 |                1 |                  18 | Básico              |
+----+------------------+------------------+---------------------+---------------------+
|  1 |                3 |                1 |                 311 | Intermediário       |
+----+------------------+------------------+---------------------+---------------------+
|  2 |               91 |                1 |                 221 | Intermediário       |
+----+------------------+------------------+---------------------+---------------------+
|  3 |               96 |                2 |                 371 | Avançado            |
+----+------------------+------------------+---------------------+---------------------+
|  4 |               66 |                2 |                 664 | Intermediário       |
+----+------------------+------------------+---------------------+---------------------+

In [11]:
visualizar_tabela('competencia_experiencia', 50)

    id_competencia  id_experiencia  tempo_competencia nivel_competencia
0               95               1                 18            Básico
1                3               1                311     Intermediário
2               91               1                221     Intermediário
3               96               2                371          Avançado
4               66               2                664     Intermediário
5               30               2                 33     Intermediário
6               63               2                633            Básico
7               59               2                892          Avançado
8               76               2                586            Básico
9               23               3                553            Básico
10               9               3                386     Intermediário
11              85               3                705            Básico
12              88               3               1010            Básico
13              21               3                 37            Básico
14              84               3                166     Intermediário
15              41               3                908            Básico
16              22               4                298            Básico
17              34               4                235     Intermediário
18              97               4                212            Básico
19              43               6                118          Avançado
20              80               6                292          Avançado
21               9               6                278     Intermediário
22              24               7                512     Intermediário
23              73               7                329          Avançado
24              84               7                470            Básico
25              66               8                255            Básico
26              79               8                 47          Avançado
27              85               8                427     Intermediário
28              18               8                649          Avançado
29               7               8               1176            Básico
30              90               8               1152            Básico
31              76               8                627            Básico
32              13               8               1341          Avançado
33              61               8               1200          Avançado
34              74               9                345            Básico
35              91               9                366            Básico
36              58               9                937     Intermediário
37              29               9                301            Básico
38              52               9                399            Básico
39              86               9                  0            Básico
40              22              10               1944            Básico
41              48              10               1389            Básico
42              20              10               4266            Básico
43              54              10               2210          Avançado
44               9              10               1813            Básico
45              49              10                747            Básico
46              72              10                208            Básico
47              70              10                441          Avançado
48              65              10               2385            Básico
49              64              10               1590            Básico