In [1]:
import sqlite3
import pandas as pd
from tabulate import tabulate
from contextlib import contextmanager
import logging

logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s',
    datefmt='%Y-%m-%d %H:%M:%S', 
    handlers=[
        logging.FileHandler("score_rh.log"),  # Salva logs em um arquivo
        logging.StreamHandler()  # Exibe logs no console
    ]
)

DB_PATH = "/app/data/teste___desafio_técnico_-_analista_de_dados_pleno_anexo_db.db"
SQL_SCRIPT_PATH = "/app/scripts/data_prep.sql"

In [2]:
@contextmanager
def conectar_banco():
    """Gerenciador de contexto para conexão com o banco de dados."""
    conn = None
    try:
        conn = sqlite3.connect(DB_PATH)
        yield conn  # Retorna a conexão para ser usada no bloco `with`
    except Exception as e:
        logging.error(f"Erro ao conectar ao banco de dados: {e}")
        raise
    finally:
        if conn:
            conn.close()  # Fecha a conexão após o uso

In [ ]:
def listar_tabelas():
    """Lista todas as tabelas do banco SQLite."""
    conn = sqlite3.connect(DB_PATH)
    cursor = conn.cursor()
    
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tabelas = cursor.fetchall()
    
    conn.close()
    
    return [t[0] for t in tabelas]

def visualizar_tabela(nome_tabela, haslimit=True, limite=5):
    try:
        with conectar_banco() as conn:
            if haslimit:
                query = f"SELECT * FROM {nome_tabela} LIMIT {limite};"
            else:
                query = f"SELECT * FROM {nome_tabela};"
            df = pd.read_sql_query(query, conn)
        return df
    except Exception as e:
        logging.error(f"Erro ao visualizar tabela {nome_tabela}: {e}")
        return pd.DataFrame()


tabelas = listar_tabelas()
print(f"Tabelas encontradas: {tabelas}")

# Mostrar 5 registros de cada tabela
for tabela in tabelas:
    print(f"\nAmostra da tabela: {tabela}")
    print(tabulate(visualizar_tabela(tabela, limite=5), headers= "keys", tablefmt="grid"))

Tabelas encontradas: ['competencias', 'vagas', 'candidatos', 'vagacompetencia', 'candidato_vaga', 'experiencias', 'competencia_experiencia']

Amostra da tabela: competencias
+----+------+---------------+--------------+---------------------------------------------------+------------+
|    |   id | nome          | tipo         | descricao                                         | area       |
+====+======+===============+==============+===================================================+============+
|  0 |    1 | competencia 1 | Conhecimento | Conhecimento importante para a área Financeira    | Financeira |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  1 |    2 | competencia 2 | Atitude      | Atitude importante para a área Comercial          | Comercial  |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  2 |    3 | competencia 3 | Atitude      | Atitude importante para a área de Engenharia      | Engenharia |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  3 |    4 | competencia 4 | Conhecimento | Conhecimento importante para a área de Engenharia | Engenharia |
+----+------+---------------+--------------+---------------------------------------------------+------------+
|  4 |    5 | competencia 5 | Conhecimento | Conhecimento importante para a área de Engenharia | Engenharia |
+----+------+---------------+--------------+---------------------------------------------------+------------+

Amostra da tabela: vagas
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|    |   id | nome   | nivel_vaga   |   salario_minimo |   salario_maximo | departamento   | localizacao        | responsavel    |   minimo_experiencia |
+====+======+========+==============+==================+==================+================+====================+================+======================+
|  0 |    1 | vaga 1 | Pleno        |             3507 |             4957 | Contabilidade  | São Paulo - SP     | Responsável 1  |                    3 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  1 |    2 | vaga 2 | Júnior       |             1658 |             2606 | Financeira     | São Paulo - SP     | Responsável 10 |                    1 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  2 |    3 | vaga 3 | Pleno        |             3262 |             3982 | Engenharia     | Florianópolis - SC | Responsável 5  |                    5 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  3 |    4 | vaga 4 | Sênior       |             6651 |             8148 | RH             | São Paulo - SP     | Responsável 3  |                    6 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+
|  4 |    5 | vaga 5 | Pleno        |             3347 |             4658 | RH             | São Paulo - SP     | Responsável 3  |                    5 |
+----+------+--------+--------------+------------------+------------------+----------------+--------------------+----------------+----------------------+

Amostra da tabela: candidatos
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|    |   id | nome                | sexo   | cpf            | data_de_nascimento   | endereco                      |
+====+======+=====================+========+================+======================+===============================+
|  0 |    1 | Lorena Pereira      | F      | 187.250.693-30 | 1971-01-16           | Lagoa Isabela Lopes, 43       |
|    |      |                     |        |                |                      | Vila Pilar                    |
|    |      |                     |        |                |                      | 40800-051 Pinto / MG          |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  1 |    2 | Dr. Lorenzo Rocha   | M      | 210.865.943-98 | 1977-06-09           | Feira Casa Grande, 61         |
|    |      |                     |        |                |                      | Vila Nossa Senhora Do Rosário |
|    |      |                     |        |                |                      | 88318-085 da Rosa / MT        |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  2 |    3 | Brayan Pastor       | M      | 796.102.385-21 | 1974-09-14           | Setor Vieira, 76              |
|    |      |                     |        |                |                      | Delta                         |
|    |      |                     |        |                |                      | 98443-687 Leão / RJ           |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  3 |    4 | Lucas Gabriel Nunes | M      | 372.861.940-03 | 1986-01-01           | Travessa Luiz Otávio Pires, 4 |
|    |      |                     |        |                |                      | Mineirão                      |
|    |      |                     |        |                |                      | 61132-149 Camargo / RO        |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+
|  4 |    5 | Joaquim Melo        | M      | 089.574.163-66 | 1999-12-03           | Colônia Azevedo, 7            |
|    |      |                     |        |                |                      | Cônego Pinheiro 1ª Seção      |
|    |      |                     |        |                |                      | 66220-210 Mendes / RJ         |
+----+------+---------------------+--------+----------------+----------------------+-------------------------------+

Amostra da tabela: vagacompetencia
+----+-----------+------------------+---------------------+------------------------+------------------------------+
|    |   id_vaga |   id_competencia | nivel_competencia   | tempo_de_experiencia   |   tempo_de_experiencia_meses |
+====+===========+==================+=====================+========================+==============================+
|  0 |         1 |               38 | Intermediário       | 36 meses               |                           36 |
+----+-----------+------------------+---------------------+------------------------+------------------------------+
|  1 |         1 |               48 | Básico              | 18 meses               |                           18 |
+----+-----------+------------------+---------------------+------------------------+------------------------------+
|  2 |         1 |               51 | Básico              | 18 meses               |                           18 |
+----+-----------+------------------+---------------------+------------------------+------------------------------+
|  3 |         1 |               59 | Intermediário       | 36 meses               |                           36 |
+----+-----------+------------------+---------------------+------------------------+------------------------------+
|  4 |         1 |               63 | Intermediário       | 36 meses               |                           36 |
+----+-----------+------------------+---------------------+------------------------+------------------------------+

Amostra da tabela: candidato_vaga
+----+-----------+----------------+----------------------+----------------+
|    |   id_vaga |   id_candidato |   pretensao_salarial | recomendacao   |
+====+===========+================+======================+================+
|  0 |         3 |            358 |              2825.16 | False          |
+----+-----------+----------------+----------------------+----------------+
|  1 |         3 |            547 |              3114.92 | False          |
+----+-----------+----------------+----------------------+----------------+
|  2 |         3 |            620 |              4962.14 | False          |
+----+-----------+----------------+----------------------+----------------+
|  3 |         3 |            693 |              3006.26 | False          |
+----+-----------+----------------+----------------------+----------------+
|  4 |         3 |            821 |              4599.94 | True           |
+----+-----------+----------------+----------------------+----------------+

Amostra da tabela: experiencias
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|    |   id |   id_candidato | empresa             | descricao                             | dt_inicio   | dt_termino   |
+====+======+================+=====================+=======================================+=============+==============+
|  0 |    1 |              1 | Jesus Peixoto Ltda. | Emprego 1 do candidato Lorena Pereira | 1990-03-16  | 1991-06-10   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  1 |    2 |              1 | Silva               | Emprego 2 do candidato Lorena Pereira | 1991-06-10  | 1994-02-11   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  2 |    3 |              1 | da Costa            | Emprego 3 do candidato Lorena Pereira | 1994-02-11  | 1997-06-23   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  3 |    4 |              1 | Nascimento          | Emprego 4 do candidato Lorena Pereira | 1997-06-23  | 1998-09-17   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+
|  4 |    6 |              1 | Cirino S/A          | Emprego 6 do candidato Lorena Pereira | 2000-12-22  | 2002-07-21   |
+----+------+----------------+---------------------+---------------------------------------+-------------+--------------+

Amostra da tabela: competencia_experiencia
+----+------------------+------------------+---------------------+---------------------+---------------------------+
|    |   id_competencia |   id_experiencia |   tempo_competencia | nivel_competencia   |   tempo_competencia_meses |
+====+==================+==================+=====================+=====================+===========================+
|  0 |               95 |                1 |                  18 | Básico              |                         0 |
+----+------------------+------------------+---------------------+---------------------+---------------------------+
|  1 |                3 |                1 |                 311 | Intermediário       |                        10 |
+----+------------------+------------------+---------------------+---------------------+---------------------------+
|  2 |               91 |                1 |                 221 | Intermediário       |                         7 |
+----+------------------+------------------+---------------------+---------------------+---------------------------+
|  3 |               96 |                2 |                 371 | Avançado            |                        12 |
+----+------------------+------------------+---------------------+---------------------+---------------------------+
|  4 |               66 |                2 |                 664 | Intermediário       |                        22 |
+----+------------------+------------------+---------------------+---------------------+---------------------------+

In [7]:
df = visualizar_tabela('vagas', haslimit=False)

In [9]:
df['departamento'].drop_duplicates()

0     Contabilidade
1        Financeira
2        Engenharia
3                RH
7             Dados
15        Comercial
Name: departamento, dtype: object